@media(max-width: 414px){
    /* #conceito_acessibilidade{
    height: max-content;
    margin-bottom: 100px;
    } */
    

    .fs-4{
    font-size: 1rem!important
    }
}
@media(max-width: 320px){

    .fs-4{
    font-size: 0.8rem!important;
    margin-right: 0.5rem
    }
    .link-light{
    font-size: 0.8rem!important;
    
    }
}